* {
  box-sizing: border-box;
  margin: 20px auto;
  text-align: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #fafafa;
}
html{
    background-color: #b98b73;
}
.card {
  width: 30%;
  height: auto;
  background-color: antiquewhite;
}
#description{
  text-align: justify;
}
.cardsWrapper {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1200px) {
  .cardsWrapper {
    flex-direction: column;
  }
  .card {
    width: 50%;
    height: 50%;
  }
}
